<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      a {
        background-color: aqua;
        margin: 5px;
        padding: 5px;
        text-decoration: none;
        border-radius: 5px;
      }
      nav {
        text-align: center;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">login</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
      </nav>
    </header>
  </body>
</html>
